body {
    /* border: green solid 2px; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(235, 175, 175), rgba(68, 0, 255, 0.397));
}

.main {
    /* border: red 2px solid; */
    width: 80%;
    background-color: white;
    padding: 6px;
}

.unit {
    text-align: center;
    padding: 1px;
    /* border: gray solid 2px; */
    background-color: rgba(69, 69, 70, 0.3);
}

.path {
    border-bottom: rgba(69, 69, 70, 0.3) solid 2px;
}

.Introduction {
    text-align: center;
    border-bottom: 2px solid slategray;
}

.programs ul li {
    list-style: none;
    text-align: center;
}

.programs ul li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgba(27, 75, 154);
    width: 90%;
    height: 25px;
    margin: 5px;
    border-radius: 5px;
}

h2 {
    font-size: 29px;
}

h2 a {
    font-size: 29px;
    margin: 6px;
}
